<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  <connectionStrings>
    <add name="Conn" connectionString="Data Source=QH-20140815HAUR;Initial Catalog=IndustryEnergy_SH;Integrated Security=True"/>
  </connectionStrings>
</configuration>